<div class="module mid">
    <p class="italic">I'm a candidate</p>
    <h2>LOOKING FOR A JOB</h2>
    <p class="caption">
        "From resume building to interview etiquette, 
        setting you up for success"
    </p>
    <a href="" class="cta">Apply now</a>
</div>
<div class="module2 mid">
    <p class="italic">I'm an employer</p>
    <h2>VACANCY TO FILL</h2>
    <p class="caption">
        "Discover our pool of talented rockstars that that will bring vibrant new blood"
    </p>
    <a href="" class="cta">View candidates</a>
</div>