<app-banner></app-banner>
<app-work-force></app-work-force>
<app-services></app-services>
<app-banner-small></app-banner-small>
<div class="row">
  <div class="col-md-12">
    <div class="col-md-4">
      <h2 class="title">hire.io</h2>
    </div>
    <div class="col-md-4">
      <p>We are disrupting workforce management</p>
    </div>
    <div class="col-md-4"><a href="" class="cta">Console Login</a></div>
  </div>
  <div class="row">
    <div class="col-md-6 banner-gray">
      <div class="links">
        <div class="col-md-4">
          <h1>Candidate</h1>
          <ul>
            <li>Find a job</li>
            <li>Apply for a job</li>
            <li>Testimonials</li>
          </ul>
        </div>
        <div class="col-md-4">
          <h1>Employer</h1>
          <ul>
            <li>Professional Staffing</li>
            <li>Staff Placement</li>
            <li>Testimonials</li>
          </ul>
        </div>
        <div class="col-md-4">
          <h1>Locations</h1>
          <ul>
            <li>Durban</li>
            <li>Johannesburg</li>
            <li>Cape Town</li>
          </ul>
        </div>
         
      </div>
    </div>
    <div class="col-md-6 banner-gray">
      <div class="col-md-12 quote">
        <h1>Request Support/Quote <span>we are here to assist</span></h1>        
        <div class="input-group">
          <input placeholder="email address"/>
          <button>submit</button>
        </div>
      </div>
      <div class="col-md-12 social">
          <h1>FOLLOW US <span>keep up</span></h1> 
          <div class="col-md-12">
              <i class="fab fa-twitter-square"></i>
              <i class="fab fa-facebook-square"></i>
              <i class="fab fa-instagram"></i>
          </div>   

      </div>
    </div>
  </div>
</div>