/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";

@media print {
    .breadcrumb {
        display: none !important;
    }
}
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
body{
    background-color:  #f1f2f6 ;
    margin: 20px;
    position: relative;
}
.card{
    background-color: #ffffff;
    color: #2f3640;

}
.card-table {
    background-color:  #ffffff ;
    color: #2f3640;
    border: none;
    -webkit-box-shadow: 32px 13px 42px 10px rgba(232,232,232,1);
    -moz-box-shadow: 32px 13px 42px 10px rgba(232,232,232,1);
    box-shadow: 32px 13px 42px 10px rgba(232,232,232,1);

    td, th, tr{
        border:none;
    }
    tr{
        border-bottom: 1px solid white;
    }
     
}
.Search,.textbox-dark{
    background-color: #f3f3f3;
    border: none;
    border-bottom: 2px solid #2d2c2c;

}
#basic-addon1{
    background-color: #f3f3f3;
    color: #2d2c2c;
    border: none;
}

.breadcrumb{
    background-color: rgba(0, 0, 0, 0.03)
}

.success  {
    border: 1px solid  #2ecc71 ;
}

.primary {
    border:  1px solid    #29b6f6   ;
}

.warning {
    border:  1px solid    #F39C12   ;
}
.danger {
    border:  1px solid   #E74C3C  ;
}

.page-header {
    color: white;
}
.rounded-btn-info {
    -webkit-border-radius: 50px;
    border-radius: 50px;
    color: rgba(255, 255, 255, 0.8);
    background: #222;
    border:  2px solid    #29b6f6   ;
    font-size: 18px;
    line-height: 40px;
    padding: 0 25px;
}

.rounded-btn-success{
    // border: 2px solid  #2ecc71 ;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    color: white;
    background: #2ed573;
    font-size: 18px;
    line-height: 40px;
    padding: 0 25px;
    
}
.rounded-btn-warning{
    border: 2px solid  #F39C12 ;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    color: rgba(255, 255, 255, 0.8);
    background: #222;
    font-size: 18px;
    line-height: 40px;
    padding: 0 25px;
}
.breadcrumb-item.active {
    color: white;
}

.ui-widget-header { 
    background:  #263238 ;
    color: white;
}
.ui-autocomplete .ui-autocomplete-input {
    padding-right: 1.5em;
    width: 272px;
    background-color: #222;
    border: none;
    border-bottom: 2px solid white;
    color: white; 
}
.ui-dialog {
    background: #263238;
    label{
        color: white;
    }
}
.ui-widget-content {   
    color: white; 
}

.modal-dialog {
    max-width: 1000px;
    margin: 1.75rem auto;
    font-size: 10px;
}