 
<div class="row">
    <div class="module">
        <div class="login">        
            <h2 class="login-header">Login</h2>          
            <form class="login-container">
              <p><input type="email" placeholder="Email"></p>
              <p><input type="password" placeholder="Password"></p>
              <p><input type="submit" value="Login"></p>
            </form>
          </div>
    </div>
    <div class="module2 mid">
        <p class="italic">I'm an employer</p>
        <h2>VACANCY TO FILL</h2>
        <p class="caption">
            "Discover our pool of talented rockstars that that will bring vibrant new blood"
        </p>
        <a href="" class="cta">View candidates</a>
    </div>
</div>