 
<div class="row">
    <div class="module">
        <div class="login">        
            <h2 class="login-header">Login</h2>          
            <form class="login-container">
              <p><input type="email" placeholder="Email"></p>
              <p><input type="password" placeholder="Password"></p>
              <!-- <p><input type="submit" value="Login"  (click)="onLoggedin()"></p> -->
              <a routerLink="/dashboard">Login</a>
            </form>
          </div>
    </div>
    <div class="module2 mid">  
      <div class="sign-up">
          <h1 class="header">Welcome Back!</h1>
          <p class="caption">
              "Access the greatest tool 
              to disrupt the recruiting 
              process"
          </p>
          <h1 class="member">Not a member?</h1>
         <input type="submit" value="Get started">
      </div>   
    </div>
</div>