<header class="head">
    <nav class="navbar navbar-expand-md  fixed-top">
        <h3 class="ml-5">
            <a class="navbar-brand" href="#">DokComm</a>
        </h3>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto ">
                <li class="nav-item active mr-5">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item  ml-5 mr-5">
                    <a class="nav-link" href="#">How It Works</a>
                </li>  
                <li class="nav-item  ml-5 mr-5">
                    <a class="nav-link" href="#">Support</a>
                </li>                        
            </ul>
            <ul class="navbar-nav mt-2 ml-5 mr-5 mt-md-0">
                <li class="nav-item mr-5">
                    <a class="nav-link" routerLink="/login">Login</a>
                </li>
                <li class="nav-item mr-5">
                    <a class="nav-link btn signup" href="#">Sign-Up</a>
                </li>
            </ul>
        </div>
    </nav>
</header>