
<div [@routerTransition]>
  <app-page-header [heading]="'Change Password'" [icon]="'fa-lock'"></app-page-header>
  <p-growl [(value)]="msgs"></p-growl>
  <div class="row">
    <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <div class="card mb-3" *ngIf="user$ | async as user" >
        <div class="card-header">
          <h3>Change Password For <b>{{user[0].Email}}</b></h3> 
        </div>
        <div class="card-body table-responsive">
          <div class="col-lg-10 offset-1">
            <form role="form">           
              
              <fieldset class="form-group">
                <div class="row">
                  <label class="col-md-2">Old Password:</label>
                  <div class="input-group mb-3 col-md-6 ">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">
                        <li class="fa fa-lock"></li>
                      </span>
                    </div>
                    <input type="password" [(ngModel)]="OldPassword" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Enter Old Password"
                      aria-label="OldPassword" aria-describedby="basic-addon1">
                  </div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="row">
                  <label class="col-md-2">New Password:</label>
                  <div class="input-group mb-3 col-md-6 ">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">
                        <li class="fa fa-lock"></li>
                      </span>
                    </div>
                    <input type="password" [(ngModel)]="NewPassword" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Enter New Password"
                      aria-label="NewPassword" aria-describedby="basic-addon1">
                  </div>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <div class="row">
                  <label class="col-md-2">Confirm New Password:</label>
                  <div class="input-group mb-3 col-md-6 ">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">
                        <li class="fa fa-lock"></li>
                      </span>
                    </div>
                    <input type="password" [(ngModel)]="ConfirmPassword" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Confirm New Password"
                      aria-label="ConfirmPassword" aria-describedby="basic-addon1">
                  </div>
                </div>
              </fieldset>

              <div class="justify-content-center">
                <a  class="btn rounded-btn" (click)="changePassword(user[0])">Change-Password</a> &nbsp;
                <a  class="btn rounded-btn" [routerLink]="['/dashboard']">Abort</a>
              </div>
            </form>

          </div>
        </div>
      </div>

    </div>

  </div>
</div>