<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fas fa-tachometer-alt"></i>&nbsp;
            <span>{{ 'Dashboard' | translate }}</span>
        </a>
        <a [routerLink]="['/candidates']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-users"></i>&nbsp;
            <span>{{ 'Candidates' | translate }}</span>
        </a>
        <a [routerLink]="['/vacancies']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-calendar"></i>&nbsp;
            <span>{{ 'Vacancies' | translate }}</span>
        </a>



        <!-- <a [routerLink]="['/dashboard']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-calendar"></i>&nbsp;
            <span>{{ 'Appointments' | translate }}</span>
        </a>
        <a [routerLink]="['/dashboard']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-edit"></i>&nbsp;
            <span>{{ 'Make an Appointment' | translate }}</span>
        </a> -->
        <div class="header-fields">
            <a (click)="rltAndLtr()" class="list-group-item">
                <span>
                    <i class="fa fa-arrows-h"></i>&nbsp; RTL/LTR</span>
            </a>

            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span>
                        <i class="fa fa-user"></i>&nbsp; Hello {{user.username}}</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'profile'">
                    <ul class="submenu">
                        <!-- <li>
                            <a href="javascript:void(0)">
                                <span>
                                    <i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span>
                                    <i class="fa fa-fw fa-envelope"></i> {{ 'Inbox' | translate }}</span>
                            </a>
                        </li> -->
                        <li>
                            <a class="dropdown-item" href="javascript:void(0)" (click)="changePassword()">
                                <i class="fa fa-fw fa-lock"></i> {{ 'Change-Password' | translate }}
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/login']" (click)="onLoggedout()">
                                <span>
                                    <i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-left"></i>&nbsp;
        <span>{{ 'Collapse Sidebar' | translate }}</span>
    </div>
</nav>