@import url('https://fonts.googleapis.com/css?family=Poppins');


html, body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

title{
    font-weight: bold;
}

.col-md-6{
    float: left;
    width: 50%;
}
.col-md-12{
    float: left;
    width: 100%;
}

