<div class="row">
    <div class="col-md-12">
      <img src="assets/images/icon.svg" alt="icon.svg">
      <br>
      <h1>We are disrupting workforce management</h1>
       <p>
         "when the right people come together, creativity thrives, opportunity appears & business grows"
      </p>
      <a href="" class="cta">About us</a>
    </div>
    <div class="col-md-12 container-bg">          
      <div class="card">
         <h1>We know people</h1>
         <p>
             Positive energy can transform an organization. It starts with the right people (that's where we come in)
         </p>
         <a href="" class="cta">Learn More</a>
      </div>     
    </div>   
  </div>
